@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900display=sawp");

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html, body /*這個很重要!! 讓 Mobile 與 PC 都變成 "overflow-x: hidden;" 的關鍵*/
{
    overflow-x: hidden;
}

body
{
    min-height: 100vh;
    background: linear-gradient(to top,#f13c77, #f5e6ad);
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form 
{
    width: 375px;
    height: 350px;
    color: #BF3060;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #2b105560;
    background-color: linear-gradient(to top,#f13c77, #f5e6ad);
    transform: translateY(15px);
}

#form h1
{
    font-size: 25px;
    color: #BF3060;
}

#form:hover
{
    box-shadow: 1px 1px 10px #f8f8f8 inset, 10px 10px 20px #2b105560;
    transition: 1s;
}

#form input {
    display: flex;
    margin: 20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
}

#form input[type="text"], #form input[type = "password"] {
    border: 2px solid #BF3060;
    width: 220px;
}

#form input[type="text"]::placeholder, #form input[type = "password"]::placeholder {
    color: #BF3060;
    font-family: "Poppins",sans-serif;
}

#form input[type="text"]:hover::placeholder, #form input[type = "password"]:hover::placeholder {
    color: #2b1055;
    transition: 1s;
}

#form input[type="text"]:hover, #form input[type = "password"]:hover {
    border-color: #2b1055;
    width: 235px;
    transition: 0.5s;    
}

#form input[type="submit"] {
    padding: 8px 30px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    background: #BF3060;
    color: #fff;
    font-size: 1.5em;
    border: transparent;
    transform: translateY(-10px);
}

#form input[type="submit"]:hover {
    border:#2b1055;
    background-color: #551043;
    transform: translateY(-10px);
}

#form input[type="submit"]:active{
    transform: translateY(-8px);
    box-shadow: 1px 1px 3px #2b1055;

}

#form label
{
    color: #BF3060;
    font-family:"Poppins",sans-serif;
    font-size: 20px;
    float: left;
    align-items: center;
    transform: translateY(7px);
}

#form label:hover
{
    color: #551043;
}

#form p
{
    transform: translateY(-20px);
    font-weight: 700;
}


header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color: #b55256;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .logo:hover
{
    color: #b5525695;
    transition: 0.5s;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    display: flex;
    list-style: none;
    margin-left: 20px;
    text-align: center;
}

header ul li a
{
    text-decoration:  none;
    padding:  8px 15px;
    color: #2b1055;
    background: #f8f8f8;
    border-radius: 20px;   
    position: relative;
    top: 0;
 
}

header ul li a:hover 
{
    background: #2b1055;
    color: #f8f8f8;
    transition: 0.5s;
    box-shadow: 1px 1px 5px #fff inset;
}

#login
{
    background: #f13c7780;
}

footer
{
    background-color: #f5e6ad80;
    padding: 8px;
    text-align: center;
    color: #2b1055;
}