@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900display=sawp");
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

html, body /*這個很重要!! 讓 Mobile 與 PC 都變成 "overflow-x: hidden;" 的關鍵*/
{
    overflow-x: hidden;
    height: 100%;
}

body
{
    min-height: 100vh;
    background: linear-gradient(to top,#f13c77, #f5e6ad);
}

header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color: #b55256;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .logo:hover
{
    color: #b5525695;
    transition: 0.5s;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    display: flex;
    list-style: none;
    margin-left: 20px;
    text-align: center;
}

header ul li a
{
    text-decoration:  none;
    padding:  8px 15px;
    color: #2b1055;
    background: #f8f8f8;
    border-radius: 20px;
}

header ul li a:hover 
{
    background: #2b1055;
    color: #f8f8f8;
    transition: 0.5s;
    box-shadow: 1px 1px 5px #fff inset;
}

#login
{
    background: #f13c7780;
}

section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#information
{
    z-index: 10;
}

#text
{
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
    text-shadow: 3px 3px #2b105580;
}

#text:hover
{
    color: #b55256;
    transition: 1s;
}

#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    font-weight: 600;
    z-index: 9;
    transform: translateY(100px);
    box-shadow: 10px 10px 5px #2b105580 ;
}

#btn:hover
{
    color: #fff;
    background: #2b1055;
    transition: 1s;
    box-shadow: 1px 1px 5px #fff inset;
}

footer
{
    background-color: #f5e6ad80;
    padding: 8px;
    text-align: center;
    color:#2b1055
}

