<!DOCTYPE html>
<html>
    <head>
        <title>Home | Togedule </title>
        <link rel = "stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <a href= "#" class="logo">NTU 地圖交友</a>
            <ul>
                <li><a href="#" >Chat Room</a></li>
                <li><a href="http://127.0.0.1:5500/profile" >My Profile</a></li>
                <li><a href="https://my.ntu.edu.tw/?block=5,6" >NTU Website</a></li>
                <li><a href="http://127.0.0.1:5500/login" >Login</a></li>
            </ul>     
        </header>
        <section>
            <img src="static/assets/passboard.png" id = "passboard">
            <img src="static/assets/earth.png" id = "earth">
            <img src="static/assets/chair.png" id = "chair">
            <img src="static/assets/people.png" id = "people">
            <h2 id="text">Welcome</h2>
            <a href="#sec" id="btn">Explore</a>
            <img src="static/assets/information.png" id = "information">
        </section>
        <div class="sec" id="sec">
            <h2>校內學生學習路途的孤獨</h2><br>
            <p>&nbsp&nbsp無論新生舊生在台大，雖然有通識課程，仍不容易深入認識外系同學，且
               大部分的時間都在本科系埋頭苦幹，課業繁忙，不是每個人都有交朋友或談戀
               愛的機會。<br><br>
               &nbsp&nbsp我們觀察到大學生一天當中，以轉換教室的時間最為空虛，卻存在其發展的價值，可以從中規劃一些活動，達到交友的機會。我們認為可以設計一種交友軟體，在學科體制下建立互動管道，可以保證對象的水準、配對交友品質。利用台大課程網、選課系統、地圖等資訊，結合統計工具，從上課路線進行相似性比對，為同學製造成雙成對的機會，一起從 A 教學館出發，前往 B 教學館，行走路途不孤單。</p><br><br>
            <h3>上課路上交朋友！<br><br> </h3>
            <p> &nbspTogether + Schedule = Togedule<br><br>
                &nbsp&nbsp希望透過 python 以及相關語言，再優化台大的課程資訊呈現，並將其放置於地圖，正確顯示上課位置與建議路線，協助新生不怕走錯地方。另外，將地圖之結果應用到交友軟體，透過路線與時段統計，配對相似課表的學生，讓他們在轉換教室的途中進行互動，讓大學生活更充實。</p>
        </div class="sec" id="sec">

        <script>
            let passboard = document.getElementById('passboard');
            let earth = document.getElementById('earth');
            let chair = document.getElementById('chair');
            let people = document.getElementById('people');
            let text = document.getElementById('text');
            let btn = document.getElementById('btn');
            let information = document.getElementById('information');
            let header = document.querySelector('header');

            window.addEventListener("scroll",function(){
                let value = window.scrollY;
                passboard.style.left = value * -0.1 + 'px';
                earth.style.top = value * 0.05 + 'px';
                chair.style.left = value * 0.05 + 'px';
                people.style.left = value * 0.05 + 'px';
                information.style.left = value * -0.05 + 'px';
                text.style.marginRight = value * 2 + 'px';
                btn.style.marginLeft = value * 2 + 'px';
                header.style.top = value * 0.6 + 'px';
                })

        </script>
            <footer>111-1 Python 程式設計基礎課程 | Group C | 期末專題計畫書 | Togedule</footer>
    </body>
</html>
