<!DOCTYPE html>
<html>
    <head>
        <title>Registration  | Togedule </title>
        <link rel = "stylesheet" type="text/css" href="{{ url_for('static',filename='css/registration.css') }}">
        <link rel = "icon" type="image/x-icon" href="{{ url_for('static',filename='assets/favicon.png') }}"></linkrel>
        
        <script>
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
        </script>
    </head>
    <body>
        <header>
            <a href= "#" class="logo">NTU 地圖交友</a>
            <ul>
                <li><a href="./logout" >Logout</a></li>
                <li><a href="./profile">My Profile</a></li>
                <li><a href="./" >Home</a></li>
                <li><a href="./registration" >Registration</a></li>
                <li><a href="./login" id="login">Login</a></li>
            </ul>     
        </header>

        <section>
            <div id="sec">
                <div id="form">
                    <form action="" name ="form" class="login" method="POST">
                        <h1>創建帳戶 Registration</h1>
                        <div class="input-field">
                            <label for="username" class="label" >帳號&nbsp:</label>
                            <input name = "username" type = "text" placeholder= "User" />
            
                            <label for="password" class="label" >密碼&nbsp:</label>
                            <input name = "password" type = "password" placeholder = "Password" />

                            <input type="submit" value="Login" class="btn" onclick="submit()">

                            <p id="alert">{{ alert }}</p>
                        </div>
                    </form>
                </div>
            </div>
            
        </section>

        <footer>111-1 Python 程式設計基礎課程 | Group C | 期末專題計畫書 | Togedule</footer>
    </body>
</html>
